@model BilleteraVirtualMVC.Models.Card

@{
    ViewData["Title"] = "CardDetail";
}
}

<head>

    <link rel="stylesheet" href="~/css/Card.css" />
    <link rel="stylesheet" href="~/css/Wallet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>


<body>
    <div class="container-credit">
        <div class="card-credit" style="margin-left: 150px;">
            <div class="front" id="@Model.CardId">
                <!-- Agregado el id "credit-card" -->
                <div class="strip-bottom"></div>
                <div class="strip-top"></div>
                <div class="logo">@Model.Bank</div>
                <div class="investor">@Model.Issuer</div>
                <div class="chip">
                    <div class="chip-line"></div>
                    <div class="chip-line"></div>
                    <div class="chip-line"></div>
                    <div class="chip-line"></div>
                    <div class="chip-main"></div>
                </div>
                <div class="wave">Visa</div>
                <div class="card-number">
                    <span class="cc-number">**** **** **** @Model.CardId.Substring(Model.CardId.Length - 4)</span>
                    <span class="end">@Model.CodeDate <span class="end-text">Valid thru</span></span>
                </div>
                <div class="card-holder">@Model.Name</div>
                <div class="master">
                    <div class="circle master-red"></div>
                    <div class="circle master-yellow"></div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="text-center">
        <a asp-controller="Wallet" asp-action="List" class="btn btn-primary">Back to Card List</a>
    </div>
</body>
