@using System.Globalization;
@model List<BilleteraVirtualMVC.Models.Card>
﻿@{
    ViewData["Title"] = "List";
}

<head>

    <link rel="stylesheet" href="~/css/Card.css" />
    <link rel="stylesheet" href="~/css/Wallet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".packet").filter(function () {
                    // Obtén el valor del atributo data-search de la tarjeta
                    var searchValue = $(this).data("search").toLowerCase();
                    $(this).toggle(searchValue.indexOf(value) > -1);
                });
            });
        });
    </script>

</head>

<body>
    <div class="card-header">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>

    <br />
    @foreach (var @item in @ViewBag.Cards)
    {
        // Convierte el valor de CodeDate a un objeto DateTime
        DateTime codeDate = DateTime.ParseExact(@item.CodeDate, "yyyy-MM-dd", CultureInfo.InvariantCulture);
        string formattedCodeDate = codeDate.ToString("MM/yy");

        // Calcula la fecha de expiración (3 meses a partir de la fecha actual)
        DateTime expirationDate = DateTime.Now.AddMonths(3);

        // Verifica si la tarjeta está a punto de expirar (dentro de los próximos 3 meses)
        bool isExpiringSoon = codeDate <= expirationDate;
        <div class="packet" data-search="@item.Bank @item.Issuer @item.Name @item.CardId">
            <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switch-@item.CardId" checked>
                <label class="form-check-label" for="switch-@item.CardId"></label>
                <div class="btn-group">

                    <ion-icon type="button" data-bs-toggle="dropdown" name="ellipsis-horizontal-outline"></ion-icon>

                    <ul class="dropdown-menu" style="margin-left: 80px">
                        <li>
                            <a class="dropdown-item edit-link" href="#" id="editLink-@item.Id" data-cardid="@item.Id" data-bank="@item.Bank" data-issuer="@item.Issuer" data-name="@item.Name" data-cardid="@item.CardId" data-cvv="@item.CVV" data-codedate="@item.CodeDate" data-type="@item.Type">
                                Editar
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form id="deleteForm-@item.CardId" asp-controller="Wallet" asp-action="Delete" asp-route-cardId="@item.Id" method="post">
                                <input type="submit" value="Delete" class="btn btn-secondary delete-button" style="color: red; margin-right: 80px"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-credit">
                <div class="card-credit">
                    <div class="card-credit tarjeta-recortada">
                        <div class="front" id="@item.CardId">
                            <!-- Agregado el id "credit-card" -->
                            <div class="strip-bottom"></div>
                            <div class="strip-top"></div>
                            <div class="logo">@item.Bank</div>
                            <div class="investor" style=" margin-top: 5px">@item.Issuer</div>
                            <div class="chip">
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-line"></div>
                                <div class="chip-main"></div>
                            </div>
                            @if (isExpiringSoon)
                            {
                                <button class="notifie" style="margin-left: 390px">
                                    <svg class="bell" viewBox="0 0 448 512"><path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"></path></svg>
                                    Renovar pronto
                                    <div class="arrow">›</div>
                                </button>
                            }
                            <div class="wave">@item.Type</div>
                            <div class="wave">@item.Name</div>
                            <div class="card-number">
                                <span class="cc-number">**** **** **** @item.CardId.Substring(@item.CardId.Length - 4)</span>
                                <span class="end">@item.CodeDate <span class="end-text">Valid thru</span></span>
                            </div>
                            <div class="master">
                                <div class="circle master-red"></div>
                                <div class="circle master-yellow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- Modal de Confirmación de Eliminación -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmación de Eliminación</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar esta tarjeta?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <form asp-controller="Wallet" asp-action="Delete" asp-route-cardId="@item.Id" method="post">
                            <input type="submit" value="Sí, Eliminar" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }

    <form asp-controller="Wallet" asp-action="Edit" method="post" id="editForm" style="display: none;">
        <br />
        <div class="group">
            <select class="input" id="bank" name="bank" required>
                <option value="BNCR">Banco Nacional de Costa Rica</option>
                <option value="BAC Credomatic">BAC Costa Rica</option>
                <option value="BCR">Banco de Costa Rica</option>
                <option value="BPDC">Banco Popular y de Desarrollo Comunal</option>
                <option value="Promérica">Banco Promérica</option>
                <option value="Lafise">Banco Lafise</option>
                <option value="Scotiabank ">Scotiabank Costa Rica</option>
                <option value="Cathay">Banco Cathay</option>
                <option value="Davivienda">Davivienda Costa Rica</option>
                <option value="BGCR">Banco General Costa Rica</option>
                <option value="Citibank">Citibank Costa Rica</option>
                <option value="BCT">Banco BCT</option>
                <option value="BCAC">Banco Crédito Agrícola de Cartago</option>
                <option value="Azteca">Banco Azteca Costa Rica</option>
                <option value="BICSA">Banco Internacional de Costa Rica </option>

            </select>
        </div>
        <br />
        <br />
        <div class="group">
            <input type="text" class="input" id="cardId" name="cardId" required maxlength="16">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Card Number</label>
        </div>
        <br />
        <br />
        <div class="group">
            <select class="input" id="issuer" name="issuer">
                <option value="null">Elegir</option>
                <option value="Visa">Visa</option>
                <option value="Mastercard">Mastercard</option>
            </select>

        </div>
        <br />
        <br />
        <div class="group">
            <select class="input" id="type" name="type">
                <option value="null">Elegir</option>
                <option value="Crédito">Crédito</option>
                <option value="Débito">Débito</option>
            </select>
        </div>
        <br />
        <br />
        <div class="group">
            <input type="text" class="input" id="name" name="name">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Card Houlders</label>
        </div>
        <br />
        <br />
        <div class="group">
            <input type="text" class="input" id="cvv" name="cvv" maxlength="4">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>CVV</label>
        </div>
        <br />
        <br />
        <div class="group">
            <input type="date" class="input" id="codedate" name="codedate" maxlength="6">
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <br />
        <br />

        <button type="submit" class="btn btn-primary" style="width: 400px; align-content:center; align-items: center;">Save</button>
    </form>

    <script>
        $(document).ready(function () {
            $(".edit-link").click(function () {
                var cardId = $(this).data("cardid");
                var bank = $(this).data("bank");
                var issuer = $(this).data("issuer");
                var name = $(this).data("name");
                var cardNumber = $(this).data("cardid");
                var cvv = $(this).data("cvv");
                var codeDate = $(this).data("codedate");
                var type = $(this).data("type");

                // Llena los campos del formulario con los valores correspondientes
                $("#editCardId").val(cardId);
                $("#editBank").val(bank);
                $("#editIssuer").val(issuer);
                $("#editName").val(name);
                $("#editCardNumber").val(cardNumber);
                $("#editCVV").val(cvv);
                $("#editCodeDate").val(codeDate);
                $("#editType").val(type);

                // Muestra el formulario modal
                $("#editForm").show();
            });

            // Agrega un controlador de clic al botón "Guardar" en el formulario
            $("#saveEditButton").click(function () {
                // Serializa los datos del formulario
                var formData = $("#editForm").serialize();

                // Realiza una solicitud AJAX POST para enviar los datos al controlador
                $.ajax({
                    url: $("#editForm").attr("action"),
                    type: "POST",
                    data: formData,
                    success: function (result) {
                        // Aquí puedes manejar la respuesta del servidor después de la edición
                        // Por ejemplo, cerrar el formulario modal o actualizar la lista de tarjetas.
                    },
                    error: function (error) {
                        // Manejo de errores
                        console.log("Error: " + error);
                    }
                });
            });
        });
    </script>

    <br />
    <div>
        <div>
            <button id="myButton" class="Mybutton" data-url="/Wallet/Index">
                Volver
            </button>
        </div>
    </div>

    @*<-----------Scripts---------->*@

    <script>
        $(document).ready(function () {
            // Escuchar el cambio en el estado del interruptor para cada tarjeta
            $('.form-check-input').change(function () {
                // Obtener el ID de la tarjeta a través del atributo "id" del interruptor
                var cardId = $(this).attr('id').replace('switch-', '');

                // Obtener el elemento de tarjeta correspondiente por su ID
                var cardElement = $('#' + cardId);

                // Verificar si el interruptor está desactivado
                if (!$(this).prop('checked')) {
                    // Agregar la clase CSS para la tarjeta desactivada
                    cardElement.addClass('tarjeta-desactivada');
                } else {
                    // Quitar la clase CSS para la tarjeta activada
                    cardElement.removeClass('tarjeta-desactivada');
                }
            });
        });
    </script>


    <script>
        document.getElementById("myButton").addEventListener("click", function () {
            // Obtén la URL del atributo data-url
            var url = this.getAttribute("data-url");

            // Redirige al usuario a la URL
            window.location.href = url;
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.delete-button').click(function (e) {
                e.preventDefault(); // Detén el envío del formulario por defecto

                // Muestra el modal de confirmación
                $('#confirmDeleteModal').modal('show');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('form[id^="deleteForm-"]').on("submit", function (e) {
                e.preventDefault(); // Evita que el formulario se envíe de inmediato

                var form = $(this);

                // Mostrar una ventana modal de confirmación antes de enviar el formulario
                if (confirm("¿Estás seguro de que deseas eliminar esta tarjeta?")) {
                    // Si el usuario confirma, envía el formulario
                    form.off("submit").submit();
                }
            });
        });
    </script>

</body>